.DiaryContent-div-main{
    width:100%;
    height:auto;
}

.DiaryContent-td-student{
    border:1px solid black;
    font-weight: bold;
    width: 200px;
    padding: 20px 20px;
    position: fixed;
    background-color: #1bd455;
}

.DiaryContent-int{
    background-color: #f8f8f8;
}

.DiaryContent-int:hover{
    background-color: #f0f0f0;
}

.DiaryContent-div-main-rating{
    width:80%;
    height:auto;
    text-align: center;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
}

.DiaryContent-div-rating{
    width:auto;
    height:auto;
    margin: 100px 0;
    display: inline-block;
}

.DiaryContent-table-rating{
    border-collapse: collapse;
    text-align: left;
}

.DiaryContent-tr-rating{

}

.DiaryContent-td-rating{
    border:1px solid black;
    padding: 10px;
}

.DiaryContent-td-start{
    border:1px solid black;
    padding: 10px 20px;
}

.DiaryContent-div-start{
    width: 200px;
}

.DiaryContent-td-mark{
    border:1px solid black;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.DiaryContent-td-date{
    border:1px solid black;
    padding: 10px 20px;
    text-align: center;
}

.DiaryContent-td-student-mini{
    border:1px solid black;
    font-weight: bold;
    width: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.DiaryContent-td-start-mini{
    border:1px solid black;
    padding: 10px 20px;
}

.DiaryContent-div-start-mini{
    width: 80px;
}

.DiaryContent-img-add{
    height: 24px;
    width: auto;
    cursor: pointer;
}

.DiaryContent-img-add:hover{
    background-color: #1bd455;
}

.DiaryContent-li-block{
    display:block;
    position:relative;
    cursor: pointer;
    text-align: left;
}

.DiaryContent-menu-li{
    list-style:none;
    display:block;
    background:white;
    position:relative;
    cursor: pointer;
    z-index: 5;
    text-align: center;
    border: 1px solid black;
}

.DiaryContent-menu-li:hover{
    background:#efefef;
}

.DiaryContent-menu-ul{
    display:none;
    position:absolute;
    padding-left:0;
    width:40px;
    padding-top:3px;
}

.DiaryContent-li-block:hover .DiaryContent-menu-ul{
    display:block;
    left:0px;
}